.sprite-header-image-logo {
    background: url('../img/c8c6b3ac563b.png') no-repeat -240px -203px;
    width: 22px;
    height: 22px;
}

.sprite-header-image-text {
    background: url('../img/c8c6b3ac563b.png') no-repeat -94px -72px;
    width: 103px;
    height: 22px;
}

.sprite-header-home {
    background: url('../img/c8c6b3ac563b.png') no-repeat -26px -260px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-header-new {
    background: url('../img/c8c6b3ac563b.png') no-repeat -297px -156px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-header-like {
    background: url('../img/c8c6b3ac563b.png') no-repeat -271px -235px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-header-profile {
    background: url('../img/c8c6b3ac563b.png') no-repeat -272px -104px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-home-before {
    background: url('../img/c8c6b3ac563b.png') no-repeat -26px -260px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-home-after {
    background: url('../img/c8c6b3ac563b.png') no-repeat 0 -260px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-search-before {
    background: url('../img/c8c6b3ac563b.png') no-repeat -208px -286px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-search-after {
    background: url('../img/c8c6b3ac563b.png') no-repeat -182px -286px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-new-before {
    background: url('../img/c8c6b3ac563b.png') no-repeat -297px -156px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-like-before {
    background: url('../img/c8c6b3ac563b.png') no-repeat -271px -235px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-footer-nav-like-after {
    background: url('../img/c8c6b3ac563b.png') no-repeat -271px -209px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-like-before {
    background: url('../img/c8c6b3ac563b.png') no-repeat -271px -235px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-like-after {
    background: url('../img/c8c6b3ac563b.png') no-repeat -271px -209px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.sprite-comment {
    background: url('../img/c8c6b3ac563b.png') no-repeat -161px -202px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}