.post {
    background-color: #fff;
    width: 614px;
}

.post-header {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.post-image {
    max-width: 614px;
    max-height: 766.922px;
    width: 100%;
    height: auto;
    display: block;
}

@media only screen and (max-width: 600px) {
    .post-image {
        max-width: 375px;
        max-height: 375px;
        width: 100%;
        height: auto;
        display: block;
    }
    .card {
        max-width: 375px;
        border: none;
    }

    .post-seperator {
        display: none;
    }
  }

.post-header-avatar {
    width: 32px;
    height: 32px;
    margin: 0;
    vertical-align: middle;
}

.post-footer {
    padding: 10px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.textarea-comment {
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    height: 20px;
    line-height: 18px;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 100%;
}

.btn {
    margin-bottom: 16px;
    height: 20px;
    line-height: 18px;
    max-height: 80px;
    padding: 0;
    color: #3897f0;
}

.card {
    border-radius: 0% !important;
}

.post-preview {
    width: 100%;
    height: 100%;
}

.post-preview-image {
    max-width: 220px;
    max-height: 220px;
    align-content: center;
    width: 220px;
    height: 220px;
}