.content {
    max-width: 1000px;
}

@media (min-width: 992px) {
    .new-caption-textarea {
        background: 0 0;
        border: 0;
        color: #262626;
        font-size: inherit;
        height: 20px;
        line-height: 18px;
        max-height: 80px;
        outline: 0;
        padding: 5;
        resize: none;
        width: 100%;
        margin-left: 35px;
    }
}

.row {
    padding-left: 20px;
    padding-right: 20px;
}

.badge-light {
    background-color: rgb(204, 204, 204);
    padding-left: 5px;
    padding-right: 5px;
}

.btn-new {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    width: 100px;
    color: white;
    font-size: 10pt;
}

.btn-secondary {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 0.5px #8f8f8f solid;
    padding: 4px;
    height: 27px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.profile-avatar {
    width: 150px;
    height: 150px;
}