{% extends 'accounts/base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}
{% block content %}
{% load static %}
<div class="content-section">
    <div class="row">
        <div class="col-md-6">
            <img class="float-right" src="{% static 'img/preview.jpg' %}" draggable="false">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="card p-3 pb-2 bt-4">
                        <div class="card-body">
                            <img class="signup-header mx-auto d-block" src="{% static 'img/instagram-new-logo.png' %}"
                                draggable="false">
                            <h5 class="card-subtitle mb-3 text-muted text-center mt-2">Sign up to see photos and videos
                                from your friends.</h5>

                            <form method="POST" class="form mt-4">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="username" maxlength="50" autofocus=""
                                                class="form-control" placeholder="Username" required="true"
                                                id="id_username">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" name="email" maxlength="75" class="form-control" placeholder="Email"
                                                required="true" id="id_email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" name="password1" class="form-control"
                                                placeholder="Password" required="true" id="id_password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" name="password2" class="form-control"
                                                placeholder="Repeat Password" required="true" id="id_password2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block" type="submit">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div class="text-center text-muted">
                                            <small>By signing up, you agree to our Terms . Learn how we collect, use and
                                                share your data in our Data Policy and how we use cookies and similar
                                                technology in our Cookies Policy .</small>
                                                {% for field in form.visible_fields %}
                                                        <br>{{ field.errors }}
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card p-1">
                        <div class="card-body text-center">
                            Have an account? <a href="{% url 'login' %}">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock content %}